<h1>Ruby - Java IPC test with posix-spawn</h1>
<p>Posix-spawn child initiated with: '<%= @command %>'</p>
<p>Child returns <strong>output</strong> which is the standard output stream, <strong>err</strong> which returns the possible errors
  that we got and <strong>status</strong> which gives the status of the child process</p>
<div class="well">
  <p>Output: <%= @output %></p>
  <p>Errors: <%= @errors %></p>
  <p>Status: <%= @status %></p>
</div>

